#myVideo {
    position: absolute;
    right: 5%;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
  }

.botones-abajo-derecha{
    position:absolute;
    bottom:15px;
    right:10px;
}

.ingresa-nombre-niño{
  position:absolute;
  bottom: 70%;
  right: 68%;
}

.nombre-en-pantalla{
  position:absolute;
  bottom: 95%;
  right: 7%;
}

.botones-opcion-multiple{
  position:absolute;
  bottom: 30%;
  right: 50%;

}

.putanje-en-pantalla{
  position:absolute;
  bottom: 93%;
  right: 48%;

}

.barra-en-pantalla{
  position:absolute;
  bottom: 85%;
  right: 40%;

}

.valor-barra-en-pantalla{
  position:absolute;
  bottom: 65%;
  right: 40%;

}


.verticalrotate {
  transform: rotate(-90deg);
  transform-origin: right top;
  -ms-transform: rotate(-90deg);
  -ms-transform-origin:right top;
  -webkit-transform: rotate(-90deg);
  -webkit-transform-origin:right top
}


.html,
body {
  /* Para que funcione correctamente en Smarthpones y Tablets */
  height: 100vh;
}

body {
 /* Ruta relativa o completa a la imagen */
  background-image: url("../img/fondo-negro.jpg");
  /* Centramos el fondo horizontal y verticalmente */
  background-position: center center;
  /* El fonde no se repite */
  background-repeat: no-repeat;
  /* Fijamos la imagen a la ventana para que no supere el alto de la ventana */
  background-attachment: fixed;
  /* El fonde se re-escala automáticamente */
  background-size: cover;
  /* Color de fondo si la imagen no se encuentra o mientras se está cargando */
  background-color: #FFF;
  /* Fuente para el texto */
  /* text-align: center;
  color: #000;
  font-family: "Times New Roman", Times, serif; */
}

/* Background para ancho máximo de la pantalla física */
@media only screen and (max-device-width: 767px) {
body {
  background-image: url("../img/02.jpg");
  color: #FFF;
  }
}
/* Background para ancho máximo del navegador */
@media only screen and (max-width: 767px) {
body {
  background-image: url("../img/02.jpg");
  color: #FFF;
  }
 }